<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Hatarika</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h4>
                    Hatarika
                </h4>
            </div>
            <!-- create a menu some of them are a dropdown home, collection (sneakers, slip on boots), brands, sales, login -->
            <div class="nav-dropdown">

                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="to-hide">Collection</a></li>
                    <li class="dropdown">
                        <a href="#">Categories</a>
                        <ul class="dropdown-content">
                            <li><a href="#">Sneakers</a></li>
                            <li><a href="#">Slip On</a></li>
                            <li><a href="#">Boots</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Brands</a>
                        <ul class="dropdown-content">
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Converse</a></li>
                        </ul>
                    </li>
                    <li><a href="sales.html" class="to-hide">Sales</a></li>
                    <li class="login-btn"><a href="#">Login</a></li>
                </ul>
            </div>
            <!-- create hamburger dropdown version -->


        </nav>

    </header>
    <main id="sales">
        <h1 class="ml-100">Related Product</h1>
        <div class="related-product">
            <!-- lisr rendering vue for data shoes -->
            <div class="product-card" v-for="shoe in shoes" :key="shoe.id">
                <img :src="shoe.image" :alt="shoe.name">
                <a @click.prevent="toggleModal(shoe)">Detail</a>
                <h4>{{ shoe.name }}</h4>
                <p style="text-decoration: line-through; color: red;">{{ 'Rp. ' + shoe.price }}</p>
                <p>{{ 'Rp. ' + shoe.price_after_discount }}</p>
            </div>
        </div>
        <transition name="modal">
            <div class="modal" v-if="showModal">
                <div class="modal-content">
                    <div class="modal-image">
                        <img :src="selectedShoe.image" :alt="selectedShoe.name">
                    </div>
                    <div class="modal-description">
                        <h3>{{ selectedShoe.name }}</h3>
                        <p style="text-decoration: line-through; color: red;">{{ 'Rp. ' + selectedShoe.price }}</p>
                        <p>{{ 'Rp. ' + selectedShoe.price_after_discount }}</p>
                        <div class="flex">
                            <label for="size-select" class="size-label">Size</label>
                            <select v-model="selectedSize" class="size-select">
                                <option disabled value="">Please select a size</option>
                                <option v-for="size in selectedShoe.sizes" :key="size">{{ size }}</option>
                            </select>
                        </div>


                        <div class="flex">
                            <label for="quantity-input" class="size-label">Quantity</label>
                            <div class="quantity-input">
                                <button @click="decreaseQuantity">-</button>
                                <input type="number" v-model="quantity" min="1">
                                <button @click="increaseQuantity">+</button>
                            </div>
                        </div>

                        <p> If you can not find your sizes, please kindly input here ! </p>
                        <label for="special-request" class="size-label">Special Request</label>
                        <br>
                        <input type="text" id="special-request" v-model="specialRequest" class="special-request"
                            placeholder="Special Request"
                        >

                        <div class="packaging-options">
                            <div v-on:click="changePackaging('Normal')" class="packaging-option">Normal</div>
                            <div v-on:click="changePackaging('Bubble Wrap')" class="packaging-option">Bubble Wrap</div>
                            <div v-on:click="changePackaging('Kotak Kayu')" class="packaging-option">Kotak Kayu</div>

                          </div>

                        
                        <button>Add to cart</button>
                    </div>
                </div>
                <button @click="toggleModal(null)" class="close-button">Close</button>
            </div>
        </transition>



    </main>
    <footer>
        <div class="footer-content">
            <h4 class="orange-color"> Our Address</h4>

            <ul class="contact">
                <li>123, Jalan Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</li>
                <li><img src="images/phone.png" alt="">+62 123456789</li>
                <li><img src="images/mail.webp" alt=""> hatarika@gmail.com
                <li>
            </ul>
        </div>
        <!-- section hatarika collection -->
        <div class="footer-content">
            <h4 class="orange-color">Hatarika Collection</h4>
            <ul class="collection">
                <li><a href="#">Sneakers</a></li>
                <li><a href="#">Slip On</a></li>
                <li><a href="#">Boots</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h4 class="orange-color">Follow Us</h4>
            <ul class="social-media">
                <li><a href="#"><img src="images/facebook.png" alt=""></a></li>
                <li><a href="#"><img src="images/instagram.png" alt=""></a></li>
                <li><a href="#"><img src="images/twitter.png" alt=""></a></li>
            </ul>
        </div>
    </footer>
    <script src="js/main.js">

    </script>
</body>

</html>